$black: #000;
$white: #fff;
$hamburger-color: #E3E2E4;
$main-heading-color: #E5EEDB;
$navigator-color: #5A7A82;
$background-color: #f2f2f2;

// About
$spaced-heading : #B4B7B9;
$spaced-heading--after : #cfcccc;
$link-color: #89849e;
$border-color: #d9d9d9;


// Footer 
$footer-color: #808080;